@import "tailwindcss";

:root {
  --color-bg-primary: #32323e;
  --color-bg-secondary: #282834;
  --color-text-primary: #e5e5e5;
  --color-text-accent: #67676a;
  --color-prism-blue: #2059fd;
  --color-prism-orange: #ee5825;
}

* {
  font-family: var(--font-gilroy), ui-sans-serif, system-ui, sans-serif;
}

.font-gilroy {
  font-family: var(--font-gilroy), ui-sans-serif, system-ui, sans-serif;
}